<h1>Contact us!</h1>
<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :subject %>
  <%= f.input :message %>
  <br />
  <%= f.submit 'Send', class: 'btn btn-primary' %>
<% end %>

<br class="clear" />
<br />
<br />
<br />